.container {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 8px;

    .title {
        font-size: 1.25rem;
        padding-bottom: 8px;
    }

    select {
        border: 0;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        padding: 3px;
    }

    select:focus {
        outline: none;
    }

    .errorTextContainer {
        height: 20px;
        color: red;
        font-size: 1rem;
    }

    option {
        height: 100%;
    }
}
