.container {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;

    input {
        border: 0;
        border-bottom: 1px solid #b4becb;
        width: 100%;
        padding: 3px;
        font-size: 1rem;
    }

    input:focus {
        outline: none;
    }
}

.errorTextContainer {
    height: 20px;
    color: red;
    font-size: 1rem;
}