@import "~include-media/dist/_include-media.scss";

.container {
    .inputsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .splitContainer {
        display: flex;
    }

    .btnToolbar {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    @include media("<=425px") {
        .inputsContainer {
            grid-template-columns: 100%;
            gap: 0px;
        }
    }
}