.container {
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;

    .multiSelect {
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
   
        .row {
            display: flex;
            padding: 10px 8px;
        }
    
        label {
            font-size: 1rem;
            margin-bottom: 0px;
        }
    
        input {
            margin-right: 8px;
            height: 1rem;
            width: 1rem;
        }
    }

    .errorTextContainer {
        height: 20px;
        color: red;
        font-size: 1rem;
    }
}
